.accountContanner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10%;
}

.accountBtn {
  padding: 8px 16px;
  font-size: 24px;
}

.accountBtn-login {
  width: 100%;
  color: rgb(58, 90, 74);
  background: linear-gradient(145deg, var(--green1), var(--green2));
  box-shadow:
    var(--green-shadow) 8px 8px 16px,
    var(--lightpoint) -8px -8px 16px,
    rgba(0, 0, 0, 0.05) -1px -1px 2px inset,
    rgba(255, 255, 255, 0.8) 1px 1px 2px inset;

  &:hover {
    box-shadow:
      var(--green-shadow) 12px 12px 20px,
      var(--lightpoint) -12px -12px 20px,
      rgba(0, 0, 0, 0.05) -2px -2px 4px inset,
      rgba(255, 255, 255, 0.8) 2px 2px 4px inset;
  }
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;

  max-width: 500px;
}

.login-label {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  font-size: 12px;
  color: var(--gray);
}

.form-error {
  width: 100%;
  font-size: 12px;
  color: var(--red);
}
