.accountContanner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10%;
}

.accountBtn {
  padding: 8px 16px;
  font-size: 24px;
}

.accountBtn-login {
  width: 100%;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;

  max-width: 500px;
}

.login-label {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  font-size: 12px;
  color: var(--gray);
}

.form-error {
  width: 100%;
  font-size: 12px;
  color: var(--red);
}
