:root {
  --milk-white: #f0f0f3;
  --beige1: #f5ede5;
  --beige2: #e6ddd5;
  --drop-shadow: #aeaec040;
  --lightpoint: #ffffff;
  --beige-shadow: #cec5bd;
  --blue: #728ab7;
  --gray: #808b9f;
  --green-text: #3a5a4a;
  --green1: #c4e8d5;
  --green2: #d5f5e6;
  --green-shadow: #a8c5b8;
}
